.main-container {
    border-style: solid;
    border-width: 2px;
    border-color: darkblue;
    padding: 10px;
    background-color: yellowgreen}
.second-container{
    border-style: dotted
    border-width: 5px;
    border-color: darkblue
    padding: 10px
    background-color: crimson;
}
.third-container{}
