.main-container {
    border-style: solid;
    border-width: 5px;
    border-color: darkblue;
    padding: 10px;
    background-color: yellowgreen;
    height: 250px}
.second-container.inner{
    border-style: dotted
    border-width: 5px;
    border-color: darkblue;
    opacity: .50px;
    padding: 10px;
    background-color: crimson;
    width: 70%;
    height: 200px
}
.third-container{}
