.main-container {
    border-style: solid;
    border-width: 2px;
    border-color: darkblue;
    padding: 10px;
    background-color: yellowgreen
    h1: darkblue; text-align: center; color: darkblue
}
