body{background-color: #000080}

.container {
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    padding: 10px;
    background-color: oldlace;
    height: 800px;
    width: 800px}

h1 {text-align: center;
   font-family: 'unifrakturcook', impact;
   font-size: 56px}

h2{text-align: center;
  font-family: 'canon', lucida;
  font-size: 150%}

h3{text-align: center;
  font-family: 'canon', lucida;
  font-size: 80%}

hr{border-width: 3px;
  border-style: solid}

.button{text-align: center;
        font-size: 30px;
        font-weight: 300;
        position: center;
        color: black}

.button:hover{color: blue;
              font-style: italic}

.button:active{color: tomato
               font-style:oblique}

.button:visited{color: dodgerblue
                font-style:italic}
